<!doctype html>
<html>
	<head>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width,initial-scal=1">
		<title>密讯，加密分享</title>
		 <link rel="stylesheet" href="stylesheets/w.css">
		 <link rel="stylesheet" href="stylesheets/m.css">
		 <link rel="stylesheet" href="stylesheets/wb.css">
		 <link rel="stylesheet" href="stylesheets/check.css">
	</head>
	<body w3-pale-blue>
		<div id="sharetip" class="w3-container w3-center w3-tiny">
			<span id=share>点击右上角发送给朋友！</span>
		</div>

		<div id=mbody class="w3-panel w3-large w3-pale-blue w3-leftbar w3-rightbar w3-border-blue hide" style="display:block">
			<p><span id="message">test</span></p>
		</div>

		<div id="bottom" class="w3-bottom" >
			<hr style="height: 5px;color: black;margin-bottom: 1px"/>
			<div id="data">
                <div style="display: flex;flex: 1">
			        <img id="mixun-icon"  src='images/108.png' style="margin: 10px">
			        <div id="download_description">
				        <span id="download_description_title"> 密讯</span>
				        <span id="download_description_content"> 密讯，加密版的微信</span>
			        </div>
                </div>
                <button id="download-button" class="w3-btn  w3-large w3-right-align" onclick="location.href='http://dl.mixun.org'">下载</button>
			</div>
		</div>
	</body>
	<script src="javascripts/n2.js"></script>
	<script src="javascripts/j.js"></script>
	<script src="javascripts/c.js"></script>
	<script src="javascripts/l.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</html>