<!DOCTYPE html>
<html>
  <head>
    <title>看看你：只分享给想看的人</title>
    <link rel='stylesheet' href='/stylesheets/m.css' />
    <link rel='stylesheet' href='/stylesheets/w.css' />
    <link rel='stylesheet' href='/stylesheets/wb.css' />
  </head>

  <body w3-theme-l4>
  		<div class="w3-container w3-card w3-theme">
  			<p><span class="w3-xlarge">看看你</span><span class="w3-margin-left"><i>http://kkn.anet6.cc</i></span></p>
  		</div>
  		<div class="w3-panel w3-leftbar w3-sand w3-large w3-serif">
  			<br>
  			<label class="w3-text-grey">输入想让人看的内容</label>
  			<textarea id="plain" class="w3-input w3-border w3" style="resize:none"></textarea>
  			<p></p>
  		</div>
  		<div class="w3-container w3-center">
  			<button id="cc" class="w3-btn w3-theme w3-large">看一眼</button>
  			<button id="tt" class="w3-btn w3-theme w3-large">看一天</button>
  		</div>

  		<div class="w3-panel w3-display-container w3-center w3-sand w3-large w3-green hide" style="display:none">
  			<p>将链接分享给想看的人</p>
  			<textarea id="url" class="w3-input w3-border" style="resize:none"></textarea>
  			<p></p>
  		</div>
  		<div class="w3-container w3-center hide" style="display:none">
  			<button id="copy" class="w3-btn w3-theme w3-large btn" data-clipboard-target="#url" data-clipboard-action="copy">分享</button>
  		</div>
  		<div id="t" class="w3-bottom w3-center w3-theme hide" style="display:none">
  			<p><span id="total"></span></p>
  		</div>
  	</body>
  	<script src="javascripts/n2.js"></script>
    <script src="javascripts/j.js"></script>
    <script src="javascripts/c.js"></script>
    <script src="javascripts/i.js"></script>
</html>